body {
    margin: 0;
    font-family: sans-serif;
    background: #f7f7f7;
    overflow: hidden;
}

.node circle {
    stroke: #444;
    stroke-width: 1.5px;
    cursor: pointer;
}

.node text {
    font-size: 12px;
    user-select: none;
}

.link {
    fill: none;
    stroke: #aaa;
    stroke-width: 1.2px;
}

.yang-node {
    stroke: #000000;
    stroke-width: 1px;
    fill: #000000;
}

.ChoiceNode      { fill: #9b59b6; }
.ContainerNode   { fill: #3498db; }
.LeafNode        { fill: #16974b; }
.LeafListNode    { fill: #7bf0d9; }
.ListNode        { fill: #f1d73e; }
.CaseNode        { fill: #e74c3c; }


.yang-node:hover {
    stroke-width: 2px;
}